body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.move-icon{
  height: 50px;

}

.move-button{
  background-color: transparent;
  border: 2px solid white;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  margin-right: 10px;
  cursor: pointer;
}

.result{
  font-size: 23px;
  font-weight: bold;
  margin-top: 40px;
}

.score{
  margin-top: 50px;
}

.reset-button{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 7px 15px;
  cursor: pointer;
}